.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
  }


  .titulo-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 45px;
  }

  .container-projetos {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards-projeto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  

  .card-projeto {
    position: relative;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    flex-basis: calc(50% - 10px);    
  }
  

  .projeto-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  

  .figcaption-projeto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    backdrop-filter: blur(5px);
  }
  
  .card-projeto:hover .figcaption-projeto {
    transform: translateY(0);
  }
  
  .b-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;
  }
  .botao-projetos {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .botao-projetos:hover {
    background-color: rgb(255, 187, 0);
    color: black;
    transform: scale(1.05);
  }
