.container-servicos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.titulo-interno {
    color: yellow;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-servico {
    flex-basis: calc(25% - 10px);
    height: 280px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.servico-imagem {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.4s ease-in-out;
} 

.figcaption-servico {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);;
    backdrop-filter: blur(5px);
}
.card-servico:hover .figcaption-servico {
    transform: translateY(0);
}

.b-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    width: 100%;
  }
  .botao-servicos {
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .botao-servicos:hover {
    background-color: rgb(255, 187, 0);
    color: black;
    transform: scale(1.05);
  }